<<<<<<< HEAD
head
	script(src='javascripts/moment.js')
	script
		min=#{minuto}
		sec=#{segundo}
	link(rel='stylesheet', href='/stylesheets/style.css')
	block content
		script(src='javascripts/jquery-1.3.2.min.js')
		script(src='javascripts/counter.js')
body 
	#container
		#countbox 	
	a(href='/config') Configurações
=======
h1= title
p Welcome to #{title}
>>>>>>> c251a94dd6031a4795c2f49c9b5401214fc0a9b4
